<mat-toolbar color="primary" class="nav-toolbar">
  <button mat-button routerLink="/" class="logo">Poll App</button>
  @if(isLoggedIn){ @if (isAdmin) {
  <!-- Admin section visible only for admins -->
  <ng-container>
    <button mat-button routerLink="/admin">Admin Dashboard</button>
  </ng-container>
  }@else {
  <!-- User section visible only for users -->
  <ng-container>
    <button mat-button routerLink="/user">User Dashboard</button>
  </ng-container>
  } }

  <span class="spacer"></span>

  @if(!isLoggedIn) {
  <ng-container>
    <button mat-button routerLink="/login">Login</button>
  </ng-container>
  <ng-container>
    <button mat-button routerLink="/signup">Signup</button>
  </ng-container>
  } @else {
  <ng-container>
    <button mat-button routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
  </ng-container>
  <ng-container>
    <button mat-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      Log out
    </button>
  </ng-container>
  }
</mat-toolbar>
